<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6" sm="8">
          <b-card no-body class="mx-4">
            <b-card-body class="p-4">
              <b-form>
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-user"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input 
                    id="userName"
                    name="userName"
                    type="text" 
                    v-validate="{ required: true,}" 
                    v-model="dataUser.userName" 
                    class="form-control" 
                    placeholder="Username" 
                    autocomplete="username" />
                </b-input-group>
                <span v-show="errors.has('userName')">{{ `Required Username` }}</span>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text>@</b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input 
                    id="email"
                    name="email"
                    type="text" 
                    v-validate="{ required: true, email:true}"
                    v-model="dataUser.email" 
                    class="form-control" 
                    placeholder="Email" 
                    autocomplete="email" 
                    />
                </b-input-group>
                <span v-show="errors.has('email')">{{ `Required Email` }}</span>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input 
                    id="password"
                    name="password"
                    type="password" 
                    v-validate="{ required: true,}" 
                    v-model="dataUser.password" 
                    class="form-control" 
                    placeholder="Password" 
                    autocomplete="new-password" />
                </b-input-group>
                <span v-show="errors.has('password')">{{ `Required Password` }}</span>

                <b-input-group class="mb-4">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="password" 
                    id="passwordConfirm"
                    name="passwordConfirm"
                    v-validate="{ required: true,}" 
                    v-model="dataUser.passwordConfirm" 
                    class="form-control" 
                    placeholder="Repeat password" 
                    autocomplete="new-password" />
                </b-input-group>
                <span v-show="errors.has('passwordConfirm')">{{ `Required Password Confirmation` }}</span>

                <b-button variant="success"  @click="onRegister" block>Create Account</b-button>
              </b-form>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import { Users } from '../../libs/api/'

export default {
  name: "registerPage",
  components: {},
  data() {
    return {
      dataUser: {
        userName: "",
        email: "",
        password: "",
        passwordConfirm: "",
      },
    };
  },
  methods: {
    onRegister() {
      this.$validator
        .validateAll()
        .then(result => {
          if (result) {
            if (this.dataUser.password === this.dataUser.passwordConfirm) {
              Users
                .create(this.dataUser)
                .then( response => {
                  this.$toast.success(
                    "Register Success",
                    "User is Successfully Registered"
                  )
                  this.$router.push(`/pages/login`);
                })
                .catch(error => {
                  // console.log(error.response.data.msg);
                  this.$toast.error("Register Failed", error.response.data.msg);
                });
            } else {
              this.$toast.error(
                "Password Error",
                "Password not Match"
              );
            }
          }
        });
    }
  }
};
</script>

<style scoped>
  span {
    color: red;
  }

  .type {
    color: red;
  }
</style>

