<template>
  <div class="animated fadeIn">
    
  </div>
</template>

<script>
import { Callout } from '@coreui/vue'

export default {
  name: 'dashboard',
  components: {
    Callout,
  },
  data: function () {
    return {
      selected: 'Month',
    }
  },
  methods: {
    variant (value) {
    },
    flag (value) {
      return 'flag-icon flag-icon-' + value
    }
  }
}
</script>

<style>
  /* IE fix */
  #card-chart-01, #card-chart-02 {
    width: 100% !important;
  }
</style>
